.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #0077b6;
}

.footer .footer__logo{
  filter: hue-rotate(-15deg);
}

.footer > .footer__contacts > a {
  color: #00b4d8;
}

.footer > .footer__contacts:hover > a {
  color: #03045e;
}